@model IEnumerable<RoxSchool.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="btn-group">
    <a asp-action="Create" class="btn btn-success">Create New</a>
    <a asp-controller="CourseWithStudents" asp-action="Index" class="btn btn-primary">Course Students Index</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
            </td>
                <td class="btn-group btn-group-sm">
                    <a asp-action="Edit" asp-route-id="@item.CourseId" class="btn btn-success">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.CourseId" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.CourseId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
