@model IEnumerable<RoxSchool.Models.EnrollmentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Student in class
            </th>
            <th>
                Course
            </th>
            <th>
                Teacher
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentName) /
                    @Html.DisplayFor(modelItem => item.StudentClass.StudentClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
            </td>
                <td class="btn-group btn-group-sm">
                <a asp-action="Edit" asp-route-id="@item.Enrollment.EnrollmentId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Enrollment.EnrollmentId" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Enrollment.EnrollmentId" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
